<ul class="steps mt-4">
    <li class="step" [class.step-primary]="progress.isServeFinished" (click)="changeTutorialTab(tutorialTab.Serve)">How to serve</li>
    <li class="step" [class.step-primary]="progress.isRallyFinished" (click)="changeTutorialTab(tutorialTab.Rally)">During the rally</li>
    <li class="step" [class.step-primary]="progress.isBalloutFinished" (click)="changeTutorialTab(tutorialTab.Ballout)">When is a ball out?</li>
    <li class="step" [class.step-primary]="progress.isScoringFinished" (click)="changeTutorialTab(tutorialTab.Scoring)">Scoring</li>
</ul>

@switch (activeTutorialTab) {
@case (tutorialTab.Serve) {
<app-tutorial-serve />
}
@case (tutorialTab.Rally) {
<app-tutorial-rally />
}
@case (tutorialTab.Ballout) {
<app-tutorial-ballout />
}
@case (tutorialTab.Scoring) {
<app-tutorial-scoring />
}
}
<button class="btn btn-active btn-primary" (click)="updateProgress()">
    @if (activeTutorialTab === tutorialTab.Scoring) {
    <span>Finish basic tutorial</span>
    } @else {
    <span>Next section</span>
    }
</button>