<ul class="steps mt-4">
    <li class="step step-primary" (click)="changeTutorialTab(tutorialTab.Serve)">How to serve</li>
    <li class="step" (click)="changeTutorialTab(tutorialTab.Rally)">During the rally</li>
    <li class="step" (click)="changeTutorialTab(tutorialTab.Ballout)">When is a ball out?</li>
    <li class="step" (click)="changeTutorialTab(tutorialTab.Scoring)">Scoring</li>
</ul>

@switch (activeTutorialTab) {
@case (tutorialTab.Serve) {
<div>serve</div>
}
@case (tutorialTab.Rally) {
<div>Rally</div>
}
@case (tutorialTab.Ballout) {
<div>Ballout</div>
}
@case (tutorialTab.Scoring) {
<div>Scoring</div>
}
}