<h3 class="font-medium text-gray-900 text-left px-6">Recent activites</h3>
@for (activity of activities; track activity.id) {

  <div class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm">
    <div
    class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150">
    <img src="https://avatars0.githubusercontent.com/u/35900628?v=4" alt=""
    class="rounded-full h-6 shadow-md inline-block mr-2">
    {{ activity.activityName }}
    <span class="text-gray-500 text-xs">{{ activity.date }}</span>
  </div>
</div>
}