<div class="fixed bottom-20 right-5 flex flex-col items-end z-10">
    @if (showButtons) {
    <div class="mb-2" @fadeInOut>
        <button class="p-2 btn btn-circle btn-primary text-white" routerLink="/sparring">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12m6-6H6" />
            </svg>
        </button>
    </div>
    <div class="mb-2" @fadeInOut>
        <button class="p-2 btn btn-circle btn-primary text-white" routerLink="/stoper">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line x1="12" y1="12" x2="12" y2="8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <line x1="12" y1="12" x2="16" y2="12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
        </button>
    </div>
    <div class="mb-2" @fadeInOut>
        <button class="p-2 btn btn-circle btn-primary text-white" routerLink="/search-player">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <circle cx="10" cy="10" r="7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14,14 L20,20"/>
            </svg>
        </button>
    </div>
    }
    <button (click)="toggleButtons()" [@rotate]="showButtons ? 'rotated' : 'default'"
        class="btn btn-circle btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12m6-6H6" />
        </svg>
    </button>
</div>