<div class="flex justify-between items-center my-5 px-6">
    <button
        class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3"
        (click)="changeTab(tab.Racket)">Racket</button>
    <button
        class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3"
        (click)="changeTab(tab.Activity)">Activity</button>
    <button
        class="text-gray-500 hover:text-gray-900 hover:bg-gray-100 rounded transition duration-150 ease-in font-medium text-sm text-center w-full py-3"
        (click)="changeTab(tab.Statistics)">Statistics</button>
</div>