@defer() {
@if (isUserLoggedIn | async) {
<app-navbar image="../assets/images/placeholder-profile-image.png" />
<app-bottom-nav />
}
<div class="fixed bottom-20 right-5 flex flex-col items-end z-10">
    @if (showButtons) {
    @for (button of buttons; track button.label) {
    <div class="mb-2" @fadeInOut>
        <button class="p-2" [ngClass]="button.color" (click)="button.action()">
            {{ button.label }}
        </button>
    </div>
    }
    }
    <button (click)="toggleButtons()" [@rotate]="showButtons ? 'rotated' : 'default'"
        class="btn btn-circle btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12m6-6H6" />
        </svg>
    </button>
</div>

<router-outlet />
}
@loading(minimum 2000) {
<div class="ball">
</div>
<span class="shadow">
</span>
}