<div class="mt-5 w-full flex flex-col overflow-hidden">
    <button class="btn btn-primary mx-3" (click)="openModal()">Add racket</button>
    <div class="card">
        @if (racket) {
        <figure class="px-10 pt-10">
            <img [src]="racket.image" alt="racket image"
                class="rounded-full w-48 h-48 border-4 border-white transition duration-200 transform hover:scale-110" />
        </figure>
        <div class="card-body items-center text-center text-gray-900">
            <h2 class="card-title">{{ racket.name }}</h2>
            <p>Purchased: {{ racket.purchaseDate }}</p>
            <p>Matches played: {{ racket.playedMatchesAmount }}</p>
            <p>String: {{ racket.string }}</p>
            <p>Grip: {{ racket.grip }}</p>
        </div>
        } @else {
        <div class="card-body items-center text-center text-gray-900">
            <h2 class="card-title"> No racket added yet.</h2>
        </div>
        }
    </div>
</div>

<dialog [class]="modalOpen ? 'modal modal-open' : 'modal'">
    <div class="modal-box">
        <h3 class="font-bold text-lg mb-4">Add new racket</h3>
        <label class="form-control w-full max-w-xs mb-2">
            <div class="label">
              <span class="label-text">Model</span>
            </div>
            <input type="text" class="input input-bordered w-full max-w-xs" />
          </label>
        <label class="form-control w-full max-w-xs mb-2">
            <div class="label">
              <span class="label-text">String</span>
            </div>
            <input type="text" class="input input-bordered w-full max-w-xs" />
          </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Grip</span>
            </div>
            <input type="text" class="input input-bordered w-full max-w-xs" />
          </label>
        <div class="modal-action">
            <button class="btn" (click)="closeModal()">Close</button>
        </div>
    </div>
</dialog>