<div class="relative w-5/6 mx-auto transition duration-200 transform hover:scale-105" routerLink="/tutorial">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../../assets/images/tutorial-image.webp" alt="Squash court">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">New to squash?</div>
                <p class="text-gray-700 text-base">
                    Check out our short tutorial and learn the basics.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="relative w-5/6 mt-4 mb-20 mx-auto transition duration-200 transform hover:scale-105" routerLink="/advanced-squash">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../../assets/images/tutorial-image.webp" alt="Squash court">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Advanced squash</div>
                <p class="text-gray-700 text-base">
                    Check out our short tutorial and learn the basics.
                </p>
            </div>
        </div>
    </div>
</div>
